* {
	box-sizing: border-box;
}

body {
	color: #55341e;
	background-color: #f8f8f0;
	background-image: url("../images/leaf-print.png");
}

.container {
	padding: 1em;
}

.logo {
	display: block;
	margin: 1.5em auto;
}

/* ----------------- Main Info ----------------- */
.main-info {
	font-family: 'Zilla Slab', serif;
	font-weight: 400;
	font-size: 2em;
	line-height: 2;
	text-align: center;
	margin-bottom: 0.8em;
}

/* Animal Select */
select::-ms-expand {
	display: none;
}

/* All Selects/Inputs */
.main-info__select,
.main-info__date,
.main-info__time {
	position: relative;
}

.main-info__select:hover .main-info__icon,
.main-info__date:hover .main-info__icon,
.main-info__time:hover .main-info__icon {
	color: #29694a;
}

.main-info__select select,
.main-info__date input,
.main-info__time input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: 'Zilla Slab', serif;
	font-weight: 400;
	font-size: 1em;
	color: #55341e;

	background: #daecdf;
	border: none;
	border-radius: 0.2em;
	padding: 0.3em 0.4em;
	padding-right: 1.3em;
	cursor: pointer;
	outline: none;
}

.main-info__icon {
	position: absolute;
	top: 50%;
	right: 0.9em;
	transform: translateY(-50%);
	font-size: 0.6em;
	color: #5fb18a;
	pointer-events: none;
}

/* Date Select */
.main-info__date input {
	position: relative;
	height: 1.7em;
	width: 4.6em;
	top: 0.5em;
}

.main-info__date input::-webkit-datetime-edit,
.main-info__date input::-webkit-inner-spin-button,
.main-info__date input::-webkit-clear-button {
	display: none;
}

.main-info__date input::-webkit-calendar-picker-indicator {
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	opacity: 0;
}

.main-info__date input::before {
	position: absolute;
	content: attr(data-date);
	color: #55341e;
}

/* Time Select */
.main-info__time input::-webkit-inner-spin-button,
.main-info__time input::-webkit-clear-button {
	display: none;
}

.main-info__time .main-info__icon {
	font-size: 0.7em;
}

/* ----------------- Results Overview ----------------- */
.results-overview {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.3;
	margin-bottom: 0.7em;
}

.results-overview--bold {
	font-weight: 700;
}

.btn-modal-show {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	font-size: 0.7em;
	color: #5fb18a;
	border: none;
	background: none;
	padding: 0;
}

.btn-modal-show:hover,
.btn-modal-show:active {
	text-decoration: underline;
	cursor: pointer;
}

/* ----------------- Results ----------------- */
.card {
	font-family: 'Franklin Libre', sans-serif;
	background-color: #ffffff;
	border-radius: 0.5em;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.16);
	padding: 1.5em;
	padding-bottom: 1em;
	margin: 1.3em 0;
}

.card__header {
	border-bottom: 0.1em solid rgba(232, 232, 232, 1);
	padding-bottom: 1.4em;
	margin-bottom: 1.4em;
}

.card__title {
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
	font-size: 2.2em;
	line-height: 1.2;
	margin-bottom: 0.3em;
}

.card__subtitle {
	font-weight: 300;
	font-size: 1.2em;
}

.card__detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.8em;
}

.detail__title {
	font-weight: 600;
	font-size: 0.8em;
}

.detail__title--green {
	color: #0a7d75;
}

.detail__title--blue {
	color: #347ad0;
}

.detail__title--gold {
	color: #89772a;
}

.detail__info-container {
	text-align: center;
}

.detail__info {
	font-weight: 700;
	font-size: 1.2em;
	color: #fffae3;
	background-color: pink;
	padding: 0.8em 1em;
	border-radius: 3em;
	width: 8.5em;
	text-align: center;
}

.detail__info--green {
	background-color: #61b48c;
}

.detail__info--blue {
	background-color: #5ca4fc;
}

.detail__info--gold {
	background-color: #c9b55f;
}

.detail__info--container {
	display: flex;
	justify-content: space-between;
}

.detail__subinfo {
	font-weight: 300;
	font-style: italic;
	font-size: 0.75em;
	color: #55341e;
	margin-top: 0.3em;
}

/* ----------------- Modal ----------------- */

.modal {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color 0.5s ease-in-out;
}

.modal--hidden {
	background-color: rgba(0, 0, 0, 0);
}

.body--modal-open {
	overflow: hidden;
}

.modal__content {
	box-sizing: border-box;
	position: absolute;
	background-color: #ffffff;
	padding: 1em 1.3em 2.8em;
	width: 100%;
	bottom: 0;
	transition: bottom 0.5s ease-out;
}

.modal__content--hidden {
	bottom: -100%;
}

.modal__close-btn-container {
	display: flex;
	justify-content: flex-end;
}

.modal__close-btn {
	font-size: 1.7em;
	color: #55341e;
	border: none;
	background: none;
	padding: 0.3em 0.5em;
	cursor: pointer;
}

.modal__option-title {
	font-family: 'Zilla Slab', serif;
	font-weight: 500;
	font-size: 1.7em;
	margin: 0.7em 0;
}

.modal__radio-btn {
	opacity: 0;
	width: 0;
	height: 0;
	position: fixed;
}

.modal__radio-btn-label {
	display: inline-block;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700;
	text-align: center;
	color: #5ca4fc;
	border: 0.16em solid #5ca4fc;
	border-radius: 2em;
	width: 7.5em;
	padding: 0.7em 2em;
	margin: 0.6em 0;
	margin-right: 1em;
	cursor: pointer;
}

.modal__radio-btn-label:hover,
.modal__radio-btn-label:active,
.modal__radio-btn:checked + .modal__radio-btn-label {
	color: #fffae3;
	background-color: #5ca4fc;
}

/* ----------------- Media Queries ----------------- */

@media screen and (min-width: 46em) {
	.container {
		width: 44em;
		margin: 0 auto;
	}

	.card__details {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1em;
	}

	.card__detail {
		display: flex;
		flex-direction: column;
	}

	.detail__title {
		margin-bottom: 1em;
	}

	.detail__subinfo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	
}
